flow.json
[
    {
        "id": "57aed5159c2e3347",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "[{\"id\":\"55dd0376.f7c64c\",\"type\":\"http in\",\"z\":\"3af82246.3634ae\",\"name\":\"\",\"url\":\"/hello\",\"method\":\"get\",\"upload\":false,\"swaggerDoc\":\"\",\"x\":130,\"y\":420,\"wires\":[[\"c656aba7.944288\"]]},{\"id\":\"c2380ca8.0463\",\"type\":\"http response\",\"z\":\"3af82246.3634ae\",\"name\":\"\",\"statusCode\":\"\",\"headers\":{},\"x\":470,\"y\":420,\"wires\":[]},{\"id\":\"c656aba7.944288\",\"type\":\"change\",\"z\":\"3af82246.3634ae\",\"name\":\"\",\"rules\":[{\"t\":\"set\",\"p\":\"payload\",\"pt\":\"msg\",\"to\":\"{\\\"text\\\":\\\"Hello\\\"}\",\"tot\":\"json\"}],\"action\":\"\",\"property\":\"\",\"from\":\"\",\"to\":\"\",\"reg\":false,\"x\":300,\"y\":420,\"wires\":[[\"c2380ca8.0463\"]]}]",
        "env": []
    },
    {
        "id": "55dd0376.f7c64c",
        "type": "http in",
        "z": "57aed5159c2e3347",
        "name": "",
        "url": "/hello",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 200,
        "y": 160,
        "wires": [
            [
                "c656aba7.944288"
            ]
        ]
    },
    {
        "id": "c2380ca8.0463",
        "type": "http response",
        "z": "57aed5159c2e3347",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 540,
        "y": 160,
        "wires": []
    },
    {
        "id": "c656aba7.944288",
        "type": "change",
        "z": "57aed5159c2e3347",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{\"text\":\"Hello World \"}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 370,
        "y": 160,
        "wires": [
            [
                "c2380ca8.0463"
            ]
        ]
    }
]